# fly.toml app configuration file generated for budgetracker on 2025-12-09T22:53:11+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'budgetracker'
primary_region = 'fra'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '3001'

[[mounts]]
  source = 'wealthtracker_data'
  destination = '/data'
  initial_size = '1gb'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/health'

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
